# AWS Credentials (If testing locally - get these from IAM in AWS Console)
export AWS_ACCESS_KEY_ID="YOUR_ACCESS_KEY_HERE"
export AWS_SECRET_ACCESS_KEY="YOUR_SECRET_KEY_HERE"
export AWS_REGION="us-east-1"
export DYNAMODB_PRODUCTS_TABLE="Products"
export DYNAMODB_REVIEWS_TABLE="Reviews"
export DYNAMODB_ORDERS_TABLE="Orders"
export S3_IMAGE_BUCKET="makernest-product-images"
